<!DOCTYPE html>
<html>
<head>
    <title>Putzplan</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://unpkg.com/vue@next"></script>
</head>
    
<body>
    
<div id="app" class="container mt-4">


	<div class="card">
        <div class="card-header">
            Putzplan
        </div>
        <div class="card-body">
            <form method="post" action= "https://script.google.com/macros/s/AKfycbzJAcHLXU1Imlb3oSWsmPTJRiatg60r1-Ui2fIH5OmAmdifMnl8YTgzSqzsDVPDpaNg/exec">
               
                <div class="row form-group">
                    <label class="col-2 col-form-label" for="name">
                        Name:
                    </label>
                    <div class="col">
                        <input type="text" name="Name" id="name" placeholder="Name" class="form-control">
                    </div>
                </div>
				
		
				
				
                <div class="row form-group">
                    <label class="col-2 col-form-label" for="ort">
                        Ort:
                    </label>
                    <div class="col">
                        <select id="ort" name="Ort" class="form-control">

                            <option value="kitchen">Küche</option>
                            <option value="room"> Wohnzimmer</option>
                            <option value="others">Sonstiges</option>
                        </select>
                    </div>
                </div>

                <div class="row form-group">
                    <label class="col-2 col-form-label" for="message">
                        Nachricht:
                    </label>
                    <div class="col">
                        <textarea name="Extra" id="message" class="form-c	ontrol" rows="3" placeholder="extra Notiz..."></textarea>
                    </div>
                </div>
                <div class="row form-check">
                    <div class="offset-2 col">
                        <input type="checkbox" name="robot" id="robot" class="form-check-input">
                        <label for="robot" class="form-check-label">Hiermit bestätige ich, dass ich ein Roboter bin.</label>
                    </div>
                </div>

				<button class="btn btn-primary">Anfrage senden</button>
            </form>
        </div>
        
    </div>

    
	

	<br>

	<!--
    <div class="row mt-3">Search:</div>
 
    <input type="text" class="form-control mb-3" v-model="filterkey">
    <h4 class="text-muted">Filters:</h4>
    <div class="row">
    Price from:
    <input type="number" class="form-control col-3 ml-3 mr-3" min="0" v-model="priceFrom">
    Price to: 
    <input type="number" class="form-control col-3 ml-3" min="0" v-model="priceTo">
    <div class="input-group mb-3 mt-3 col-6">
	    <div class="input-group-prepend">
		    <label class="input-group-text" for="inputGroupSelect">What type of drink</label>
	    </div>
	    <select class="custom-select" id="inputGroupSelect" v-model="typeFilter">
		    <option value="all" selected>all</option>
		    <option value="soft drink">soft drink</option>
		    <option value="beer">beer</option>
	    </select>
    </div>
 
    <table class="table table-hover">
        <thead>
        <tr>
        <th><a href="#"v-on:click="changeSortParam('brand')">Brand</a></th>
        <th><a href="#"v-on:click="changeSortParam('type')">Type</a></th>
        <th><a href="#"v-on:click="changeSortParam('size')">Size</a></th>
        <th><a href="#"v-on:click="changeSortParam('price')">Price</a></th>
        <th><a href="#"v-on:click="changeSortParam('stock')">Stock</a></th>
        </tr>
        </thead>
 
        <tbody>
        <tr v-for="drink in filteredStock">
            <td>{{ drink.brand }}</td>
            <td>{{ drink.type }}</td>
            <td>{{ drink.size }}</td>
            <td>{{ drink.price }}</td>
            <td>{{ drink.stock }}</td>
        </tr>
        </tbody>
        <thead>
        <tr>
        <th>Total</th>
        <th></th>
        <th></th>
        <th>Price</th>
        <th>Stock</th>
        </tr>
        </thead>
	<tbody>
	<tr v-if="filteredStock.length">
		<td>Your Selection totals to:</td>
		<td></td>
		<td></td>
		<td>{{ filteredStock.reduce((total,drink)=>{return total + parseFloat(drink.price)},0) }}$</td>
		<td>{{ filteredStock.reduce((total,drink)=>{return total + parseInt(drink.stock)},0) }} in Stock</td>
	<tr v-else>
		<td>Nothing selected</td>
	</tr>
	</tbody>
    </table>

-->

</div>
<script>
	Vue.createApp({
		data() { 
			return {

				name: '',

				sortparam: 'brand',
				filterkey: '',
				priceFrom: 0,
				priceTo: 0,
				typeFilter: 'all',
				order: 1,
				stock: [
					{
						brand: "Berliner Pilsener",
						type: "beer",
						size: 0.5,
						price: 0.72,
						stock: 27
					},
					{
						brand: "Vita Cola",
						type: "soft drink",
						size: 1,
						price: 1.35,
						stock: 81
					},
					{
						brand: "Pilsener Urquell",
						type: "beer",
						size: 0.5,
						price: 0.95,
						stock: 18
					},
					{
						brand: "Sternburg Export",
						type: "beer",
						size: 0.5,
						price: 0.48,
						stock: 36
					},
					{
						brand: "Stoertebeker Pilsener",
						type: "beer",
						size: 0.5,
						price: 1.22,
						stock: 20
					},
					{
						brand: "Fritz-Limo Orange",
						type: "soft drink",
						size: 0.33,
						price: 0.84,
						stock: 54
					},
					{
						brand: "7up",
						type: "soft drink",
						size: 1.25,
						price: 1.10,
						stock: 33
					},
					{
						brand: "Fuze Tea",
						type: "soft drink",
						size: 1.25,
						price: 1,
						stock: 20
					},
					{
						brand: "Coca Cola",
						type: "soft drink",
						size: 0.33,
						price: 0.80,
						stock: 122
					},
					{
						brand: "Becks Blue",
						type: "beer",
						size: 0.5,
						price: 0.98,
						stock: 101
					}
				]
			}
		},
		
		computed: {
			filteredStock: function() {
				return this.stock
					.filter(drink => {return drink.brand.includes(this.filterkey)})
					.filter(drink => {return drink.price > this.priceFrom})
					.filter(drink => {return drink.price <= this.priceTo || this.priceTo == 0})
					.filter(drink => {return drink.type == this.typeFilter || this.typeFilter == "all"})
					.sort((a, b) => {
						if (a[this.sortparam] < b[this.sortparam]) {
							console.log(this.sortparam + "-1")
							return (-1) * this.order;
						}
						if (a[this.sortparam] > b[this.sortparam]) {
							console.log(this.sortparam + "+1");
							return 1 * this.order;
						}
						console.log(this.sortparam + "0");
						return 0;
					})
			}
		},
		
		methods: {
			changeSortParam: function(sortParam) {
				this.sortparam = sortParam;
				this.order = this.order * (-1);
			}
		}
	}).mount('#app');
</script>
</body>
</html>
